{% extends 'student_template/base_template_task.html' %}
{% load static %}


{% block main_content %}

<style>
  .content {
    height: 100vh;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;

  }

  .input_window_code_wrapper {
    width: 41vw;
    max-width: 41vw;
    max-height: 50vh;
    height: 50vh;
    margin: 0;
  }

  .console {
    width: 41vw;
    max-width: 41vw;
    max-height: 50vh;
    height: 50vh;
  }

  .theory_window {
    background-color: wheat;
    font-size: 20px;
    width: 41vw;
    height: 100vh;
    word-wrap: normal;
    overflow: auto;
    border-radius: 1%;
  }
  .pre {
    overflow-wrap: normal;
  }

  .first_column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .second_column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  textarea {
    width:41vw; 
    max-width: 41vw;
    max-height: 50vh;
    height: 50vh;
    padding: 0 1% 1% 1%;
  }
  
.b {
   background-color: rgb(255, 255, 255, 0.5);
   width: min-content;
   border-radius: 8%;
   padding: 1%;
   position: relative;
   left: 150px;
 }


</style>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div class="first_column">
      <div class="input_window_code_wrapper"> 
        <p> <textarea name="text">  
import turtle

t = turtle.Turtle()

t.forward(150) 
t.left(90) 
t.forward(50) 
t.left(90) 
t.forward(150) 
t.left(90) 
t.forward(50) 
t.left(90) 

# Ваш код здесь
        </textarea></p>
        
      </div>
      <div class="console">
        <img src="{% static "dist/img/console.png" %}" width="100%" alt="">
      </div>
    </div>

    <div class="second_column">
      <div class="theory_window">
 <pre>
 <h2>  Готовый код позволит вам 
   нарисовать квадрат, попробуйте!:)</h2>

 
    А теперь давайте попробуем сделать прямоугольник:
    ● Для начала просто увеличьте длину или ширину до 100 пикселей.
    ● Потом попробуйте увеличить оба параметра.
    
    <i><b> Разберитесь, в каком порядке нужно вводить изменения, 
    чтобы квадрат рос в ту сторону, которая вам нужна :)</i></b>
</pre>

      </div>
    </div>



  </div>
</section>
<!-- /.content -->
{% endblock main_content %}